<div class="p-0"  style="height: 250px">
  <div class="row bg-light">
    <div class="col-5 d-block align-items-center justify-content-center py-2">
      <div class="display-6 text-center mx-2">
        Looking for a vehicle? You are at the right place
      </div>
      <div class="text-center py-3">
        Choose between 100's of private cars for rent at really low prices!
      </div>
      <div class="text-center py-3">
        <button type="button" data-bs-toggle="modal" data-bs-target="#loginSignupModal" class="btn btn-primary text-white">Find a Rental Car Near You</button>
      </div>
    </div>
    <div class="col-2 d-flex flex-fill" >
      <img class="img-fluid" src = "/assets/Untitled-2.png" alt="image">
    </div>
    <div class="col-5 d-block align-items-center justify-content-center py-2">
      <div class="display-6 text-center border-start border-white mx-3">
        Are you a car owner
      </div>
      <div class="text-center py-3">
        List your car and make money from your asset today!
      </div>
      <div class="text-center py-3">
        <button data-bs-toggle="modal" data-bs-target="#loginSignupModal" type="button" class="btn btn-primary text-white">List you car today</button>
      </div>
    </div>
  </div>
</div>

