<div id="benefit" class="container-fluid bg-light p-5">
  <h2 class="mb-4">Have a car for rent? Don't miss out on your benefit</h2>
  <div class="row mt-5">
    <div class="col-md-4 mb-4">
      <div class="h-100 text-center">
        <div class="card-body">
          <div class="mb-3 d-flex align-items-center ">
            <i class="bi bi-currency-dollar border border-black rounded p-1" style="font-size: 1.5rem;"></i>
            <h5 class="card-title ms-3">How the insurance works</h5>
          </div>
          <p class="text-start">From the minute you hand the keys over till the second you get them back you are covered. Your private insurance is not affected.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="h-100 text-center">
        <div class="card-body">
          <div class="mb-3 d-flex align-items-center ">
            <i class="bi bi-shield-shaded border border-black rounded p-1" style="font-size: 1.5rem;"></i>
            <h5 class="card-title ms-3">It's completely free</h5>
          </div>
          <p class="text-start">We offer both owners and renters free sign ups. It's only once a vehicle is rented out that a share is deducted to cover admin and insurance.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="h-100 text-center">
        <div class="card-body">
          <div class="mb-3 d-flex align-items-center ">
            <i class="bi bi-patch-check border border-black rounded p-1" style="font-size: 1.5rem;"></i>
            <h5 class="card-title ms-3">You decide the price</h5>
          </div>
          <p class="text-start">When you list a car you decide the price. We can help with recommendations as to price, but ultimately you decide!</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="h-100 text-center">
        <div class="card-body">
          <div class="mb-3 d-flex align-items-center ">
            <i class="bi bi-car-front-fill border border-black rounded p-1" style="font-size: 1.5rem;"></i>
            <h5 class="card-title ms-3">Handing over your vehicle</h5>
          </div>
          <p class="text-start">You arrange the time and location for the exchange of your vehicle with the renter. Both parties will need to agree and sign the vehicle rental sheet before and after key handover.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="h-100 text-center">
        <div class="card-body">
          <div class="mb-3 d-flex align-items-center ">
            <i class="bi bi-exclamation-triangle-fill border border-black rounded p-1" style="font-size: 1.5rem;"></i>
            <h5 class="card-title ms-3">You are in charge</h5>
          </div>
          <p class="text-start">All renters are pre-screened by us to ensure safety and get your approval. If you do not feel comfortable with someone you are able to decline a booking.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="h-100 text-center">
        <div class="card-body">
          <div class="mb-3 d-flex align-items-center ">
            <i class="bi bi-credit-card border border-black rounded p-1" style="font-size: 1.5rem;"></i>
            <h5 class="card-title ms-3">Set payment</h5>
          </div>
          <p class="text-start">We pay you once a month and you can always view how much your car has earned under your user profile.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid p-5">
  <h3>Make money on your car right away</h3>
  <div class="d-flex justify-content-center">
    <button class="btn btn-primary p-3" (click)="navigateToAddCar()">List Your Car Today</button>
  </div>
</div>

