<div class="container-fluid">
  <h2 class="mt-5 mb-5 ms-3">Car Details</h2>
  <h3 *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</h3>
  <div class="container-fluid border-black border-top border-bottom fw-bold">
    <div class="row p-5">
      <div class="col-md-6">
        <div id="carouselExampleIndicators{{ car.id }}" class="carousel slide">
          <div class="carousel-indicators">
            <button *ngFor="let image of carImageUrls; let i = index"
                    type="button"
                    [attr.data-bs-target]="'#carouselExampleIndicators' + car.id"
                    [attr.data-bs-slide-to]="i"
                    [class.active]="i === 0"
                    [attr.aria-label]="'Slide ' + (i + 1)">
            </button>
          </div>
          <div class="carousel-inner container-size">
            <div *ngFor="let image of carImageUrls; let i = index" class="carousel-item" [class.active]="i === 0">
              <img [src]="image" class="d-block w-100 h-100 img-thumbnail" alt="Car Image {{ i + 1 }}"></div>
          </div>
          <button class="carousel-control-prev" type="button"
                  [attr.data-bs-target]="'#carouselExampleIndicators' + car.id" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button"
                  [attr.data-bs-target]="'#carouselExampleIndicators' + car.id" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

      <div class="col-md-4">
        <h2 class="mb-4">{{ car.name }}</h2>
        <div class="d-flex">
          <span class="me-2">Ratings: </span>
          <span>
              <app-car-rating-star [rating]="car.rating"></app-car-rating-star>
            </span>
        </div>

        <p id="no-rating" *ngIf="car.rating===0">(No rating yet)</p>
        <p id="no-of-ride">No of ride: <span>{{ car.numberOfRide }}</span></p>
        <p>Prices: <span>{{ car.basePrice| vnMoneyFormatter }}/day</span></p>
        <p>Location: <span>{{ address }}</span></p>
        <p>Status:
          <select formControlName="carStatus" (change)="onStatusChange($event)">
            <option class="form-select-lg" style="color: green" [selected]="car.carStatus==='AVAILABLE'" value="AVAILABLE">Available</option>
            <option class="form-select-lg" style="color: red" [selected]="car.carStatus==='STOPPED'" value="STOPPED" data-bs-toggle="modal"
                    data-bs-target="#stopModal">Stopped
            </option>
          </select>
        </p>
      </div>
      <!--        STOP RENTING CAR MODAL-->
      <div class="modal fade" id="stopModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm">
          <div class="modal-content">
            <div class="modal-body text-center">
              <p class="text-dark">Are you sure you want to stop renting this car?</p>
            </div>
            <div class="modal-footer px-0 py-0 border-1 border-secondary">
              <div class="row mx-0 my-0 d-flex justify-content-evenly w-100">
                <div class="col-md-6 d-flex justify-content-center border-end border-secondary">
                  <button class="btn border border-0 text-dark text-center w-100" data-bs-dismiss="modal" type="button">
                    No
                  </button>
                </div>
                <div class="col-md-6 d-flex justify-content-center">
                  <button class="btn border border-0 text-dark" data-bs-dismiss="modal" type="button"
                          (click)="confirmStopRenting()">Yes
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--        Error message modal-->
      <div class="modal fade" id="errorMessage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm">
          <div class="modal-content">
            <div class="modal-body text-center">
              <p id="confirmLogOut" class="text-dark">Your car has been booked. Please contact our administrator if your
                car is no longer available for rent.</p>
            </div>
            <div class="modal-footer px-0 py-0 border-1 border-secondary">
              <div class="row mx-0 my-0 d-flex justify-content-evenly w-100">
                <button class="btn border border-0 text-dark text-center w-100" data-bs-dismiss="modal" type="button">
                  Cancel
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <app-confirm-deposit *ngIf="car.isPendingDeposit"
                             (updateEvent)="updateCarStatusById($event)"
                             [carId]="car.id"
                             [currentStatus]="'PENDING_DEPOSIT'"
                             [targetStatus]="'CONFIRMED'"
        ></app-confirm-deposit>

        <app-confirm-payment *ngIf="car.isPendingPayment"
                             (updateEvent)="updateCarStatusById($event)"
                             [carId]="car.id"
                             [currentStatus]="'PENDING_PAYMENT'"
                             [targetStatus]="'COMPLETED'"
        ></app-confirm-payment>
      </div>
    </div>
  </div>
</div>
<form [formGroup]="editCarForm" (ngSubmit)="onSubmit()">
  <!--Tab-->
  <div class="container-fluid mt-5 ms-3">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="basicInfo-tab" data-bs-toggle="tab" data-bs-target="#basicInfo"
                type="button" role="tab" aria-controls="basicInfo" aria-selected="true">Basic Information
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="details-tab" data-bs-toggle="tab" data-bs-target="#details" type="button"
                role="tab" aria-controls="details" aria-selected="false">Details
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="termOfUse-tab" data-bs-toggle="tab" data-bs-target="#termOfUse" type="button"
                role="tab" aria-controls="termOfUse" aria-selected="false">Term of Use
        </button>
      </li>
    </ul>
    <div class="tab-content mt-5" id="myTabContent">
      <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
        <div class="row">
          <div class="col-md-6">
            <label class="fw-bold">License plate: </label>
            <span class="ms-3">{{ car.licensePlate }}</span>
          </div>
          <div class="col-md-6">
            <label class="fw-bold">Color: </label>
            <span class="ms-3">{{ car.color }}</span>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6">
            <label class="fw-bold">Brand name: </label>
            <span class="ms-3">{{ car.brand }}</span>
          </div>
          <div class="col-md-6">
            <label class="fw-bold">Model: </label>
            <span class="ms-3">{{ car.model }}</span>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6">
            <label class="fw-bold">Production year: </label>
            <span class="ms-3">{{ car.productionYears }}</span>
          </div>
          <div class="col-md-6">
            <label class="fw-bold">No of seats: </label>
            <span class="ms-3">{{ car.numberOfSeats }}</span>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6">
            <label class="fw-bold">Transmission: </label>
            <span class="ms-3">{{ car.transmissionType }}</span>
          </div>
          <div class="col-md-6">
            <label class="fw-bold">Fuel: </label>
            <span class="ms-3">{{ car.fuelType }}</span>
          </div>
        </div>
        <div class="row mt-5">
          <h3 class="mb-3">Documents</h3>
          <div class="col-md-7">
            <table class="table table-bordered table-striped">
              <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">Name</th>
                <th scope="col">Note</th>
                <th scope="col">Link</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>1</td>
                <td>Registration paper</td>
                <td>{{ car.registrationPaper ? 'Verified' : 'Not Available' }}</td>
                <td>
                  <a [href]="registrationPaperUrl" target="_blank">Registration paper</a>
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td>Certificate of inspection</td>
                <td>{{ car.certificateOfInspection ? 'Verified' : 'Not Available' }}</td>
                <td>
                  <a [href]="certificateOfInspectionUrl" target="_blank">Certificate of inspection</a>
                </td>
              </tr>
              <tr>
                <td>3</td>
                <td>Insurance</td>
                <td>{{ car.insurance ? 'Verified' : 'Not Available' }}</td>
                <td>
                  <a [href]="insuranceUrl" target="_blank">Insurance</a>
                </td>
              </tr>
              </tbody>
            </table>
            <p class="text-danger"><em>Note: Please contact us if you'd need to update your car's basic information</em>
            </p>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
        <div class="row p-3">
          <div class="col-md-6">
            <label class="fw-bold">Mileage: </label><span class="text-danger"> *</span>
            <input type="text" formControlName="mileage" class="form-control w-50 mt-2">
            <div *ngIf="mileage?.invalid && (mileage?.dirty || mileage?.touched)"
                 class="alert alert-danger mt-1 d-block w-50">
              <div *ngIf="mileage?.errors?.['required'] || mileage?.errors?.['notOnlyWhitespace']">
                Mile age is required
              </div>
              <div *ngIf="mileage?.errors?.['pattern']">
                Mile age is number
              </div>
            </div>
            <label class="mt-3 fw-bold">Address: </label><span class="text-danger"> *</span>
            <div class="d-flex">
              <input class="form-control w-75" type="search" placeholder="Search for an address" aria-label="Search">
              <i class="bi bi-search" id="searchButton"></i>
            </div>
            <select formControlName="city" class="form-select w-75 mt-4">
              <option *ngFor="let city of cities" [value]="city.cityProvinceCode">{{ city.cityProvince }}</option>
            </select>

            <select formControlName="district" class="form-select w-75 mt-4">
              <option *ngFor="let district of districts" [value]="district.districtCode">{{ district.district }}
              </option>
            </select>

            <select formControlName="ward" class="form-select w-75 mt-4">
              <option *ngFor="let ward of wards" [value]="ward.wardCode">{{ ward.ward }}</option>
            </select>
            <input formControlName="houseNumber" type="text" class="form-control w-75 mt-4"
                   placeholder="House number/ street">
            <div *ngIf="houseNumber?.invalid && (houseNumber?.dirty || houseNumber?.touched)"
                 class="alert alert-danger mt-1 d-block w-75">
              <div *ngIf="houseNumber?.errors?.['required'] || houseNumber?.errors?.['notOnlyWhitespace']">
                House Number is required
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <label class="fw-bold">Fuel consumption: </label>
            <div class="d-flex align-items-center">
              <input formControlName="fuelConsumption" type="text" class="form-control w-25">
              <p class="ms-3 fs-5 mt-4">liter/100 km</p>
            </div>
            <div *ngIf="fuelConsumption?.invalid && (fuelConsumption?.dirty || fuelConsumption?.touched)"
                 class="alert alert-danger mt-1 d-block w-50">
              <div
                *ngIf="fuelConsumption?.errors?.['fuelConsumption'] || fuelConsumption?.errors?.['notOnlyWhitespace']">
                Fuel consumption is required
              </div>
              <div *ngIf="fuelConsumption?.errors?.['pattern']">
                Fuel consumption is number
              </div>
            </div>
            <label class="fw-bold">Description: </label>
            <textarea formControlName="description" class="form-control" rows="6"></textarea>
          </div>
        </div>
        <div formGroupName="additionalFunctions" class="row justify-content-between">
          <h5 class="mb-5 mt-3 mt-5">Additional functions: </h5>
          <div class="d-flex justify-content-between w-100">
            <div class="col-md-4 bg-white py-3">
              <div *ngFor="let func of additionalFunctions.slice(0, 3)" class="row mb-2">
                <div class="col d-flex justify-content-center">
                  <i [ngClass]="func.icon"></i>
                </div>
                <div class="col d-flex justify-content-center">
                  <p class="mb-0">{{ func.name }}</p>
                </div>
                <div class="col d-flex justify-content-center">
                  <input type="checkbox" [formControlName]="func.value" (change)="onCheckboxChange($event)">
                </div>
              </div>
            </div>
            <div class="col-md-4 bg-white py-3 mx-3">
              <div *ngFor="let func of additionalFunctions.slice(3, 6)" class="row mb-2">
                <div class="col d-flex justify-content-center">
                  <i [ngClass]="func.icon"></i>
                </div>
                <div class="col d-flex justify-content-center">
                  <p class="mb-0">{{ func.name }}</p>
                </div>
                <div class="col d-flex justify-content-center">
                  <input type="checkbox" [formControlName]="func.value" (change)="onCheckboxChange($event)">
                </div>
              </div>
            </div>
            <div class="col-md-4 bg-white py-3">
              <div *ngFor="let func of additionalFunctions.slice(6, 8)" class="row mb-2">
                <div class="col d-flex justify-content-center">
                  <i [ngClass]="func.icon"></i>
                </div>
                <div class="col d-flex justify-content-center">
                  <p class="mb-0">{{ func.name }}</p>
                </div>
                <div class="col d-flex justify-content-center">
                  <input type="checkbox" [formControlName]="func.value" (change)="onCheckboxChange($event)">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row p-3">
          <div class="col-md-6">
            <p class="fw-bold">Front</p>
            <app-drop-zone *ngIf="!carImages[0]" formArrayName="front" [allowedFileTypes]="fileTypes"
                           (onFileDropped)="handleFileSelection($event, 'front')" class="w-75 ms-5"
                           ngDefaultControl></app-drop-zone>
            <div *ngIf="carImages[0]" class="img-container">
              <img [src]="carImageUrls[0]" class="d-block w-100  img" alt="...">
              <i class="bi bi-dash-circle-fill remove-icon" (click)="removeImage(0)"></i>
            </div>
            <div *ngIf="front?.invalid && (front?.dirty || front?.touched)"
                 class="alert alert-danger mt-1 d-block w-75">
              <div *ngIf="front?.errors?.['required']">
                Front image is required
              </div>
            </div>
            <p class="fw-bold">Left</p>
            <app-drop-zone *ngIf="!carImages[1]" formArrayName="left" [allowedFileTypes]="fileTypes"
                           (onFileDropped)="handleFileSelection($event, 'left')" class="w-75 ms-5"
                           ngDefaultControl></app-drop-zone>
            <div *ngIf="carImages[1]" class="img-container">
              <img [src]="carImageUrls[1]" class="d-block w-100 img" alt="...">
              <i class="bi bi-dash-circle-fill remove-icon" (click)="removeImage(1)"></i>
            </div>
            <div *ngIf="left?.invalid && (left?.dirty || left?.touched)" class="alert alert-danger mt-1 d-block w-75">
              <div *ngIf="left?.errors?.['required']">
                Left image is required
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <p class="fw-bold">Back</p>
            <app-drop-zone *ngIf="!carImages[2]" formArrayName="back" [allowedFileTypes]="fileTypes"
                           (onFileDropped)="handleFileSelection($event, 'back')" class="w-75 ms-5"
                           ngDefaultControl></app-drop-zone>
            <div *ngIf="carImages[2]" class="img-container">
              <img [src]="carImageUrls[2]" class="d-block w-100 img" alt="...">
              <i class="bi bi-dash-circle-fill remove-icon" (click)="removeImage(2)"></i>
            </div>
            <div *ngIf="back?.invalid && (back?.dirty || back?.touched)" class="alert alert-danger mt-1 d-block w-75">
              <div *ngIf="back?.errors?.['required']">
                Back image is required
              </div>
            </div>
            <p class="fw-bold">Right</p>
            <app-drop-zone *ngIf="!carImages[3]" formArrayName="right" [allowedFileTypes]="fileTypes"
                           (onFileDropped)="handleFileSelection($event, 'right')" class="w-75 ms-5"
                           ngDefaultControl></app-drop-zone>
            <div *ngIf="carImages[3]" class="img-container">
              <img [src]="carImageUrls[3]" class="d-block w-100 img" alt="...">
              <i class="bi bi-dash-circle-fill remove-icon" (click)="removeImage(3)"></i>
            </div>
            <div *ngIf="right?.invalid && (right?.dirty || right?.touched)"
                 class="alert alert-danger mt-1 d-block w-75">
              <div *ngIf="right?.errors?.['required']">
                Right image is required
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="termOfUse" role="tabpanel" aria-labelledby="termOfUse-tab">
        <div class="mb-4">
          <div class="d-flex flex-row align-items-center">
            <label class="w-25 fw-bold">Set base price for your car:</label>
            <input formControlName="basePrice" [value]="basePrice" type="text" class="form-control w-25">
            <label class="ms-3 fw-bold">VND/Day</label>
          </div>
          <div *ngIf="basePrice?.invalid && (basePrice?.dirty || basePrice?.touched)"
               class="alert alert-danger mt-1 d-block w-25 float-to-end">
            <div *ngIf="basePrice?.errors?.['required'] || basePrice?.errors?.['notOnlyWhitespace']">
              Base price is required
            </div>
            <div *ngIf="basePrice?.errors?.['pattern']">
              Base price is invalid format
            </div>
          </div>
        </div>
        <div class="mb-5">
          <div class="d-flex flex-row align-items-center">
            <label class="w-25 fw-bold">Required deposit:</label>
            <input formControlName="deposit" [value]="deposit" type="text" class="form-control w-25">
            <label class="ms-3 fw-bold">VND</label>
          </div>
          <div *ngIf="deposit?.invalid && (deposit?.dirty || deposit?.touched)"
               class="alert alert-danger mt-1 d-block w-25 float-to-end">
            <div *ngIf="deposit?.errors?.['required'] || deposit?.errors?.['notOnlyWhitespace']">
              Deposit is required
            </div>
            <div *ngIf="deposit?.errors?.['pattern']">
              Deposit is invalid format
            </div>
          </div>
        </div>
        <h5 class="mt-5 mb-5">Term of use</h5>
        <div class="row" formGroupName="termOfUse">
          <div class="col-md-3">
            <div class="form-check mb-2">
              <input type="checkbox" class="form-check-input" formControlName="noSmoking" value="noSmoking"
                     id="noSmoking">
              <label class="form-check-label" for="noSmoking">No smoking</label>
            </div>
            <div class="form-check mb-2">
              <input type="checkbox" formControlName="noPet" class="form-check-input" value="noPet" id="noPet">
              <label class="form-check-label" for="noPet">No pet</label>
            </div>
            <div class="form-check mb-2">
              <input type="checkbox" formControlName="noFood" class="form-check-input" value="noFood" id="noFood">
              <label class="form-check-label" for="noFood">No food in car</label>
            </div>
            <div class="form-check mb-2">
              <input type="checkbox" formControlName="other" class="form-check-input" id="other"
                     (change)="onOtherChange()">
              <label class="form-check-label" for="other">Other</label>
            </div>
          </div>
          <div class="col-md-9">
            <div class="mb-3">
              <label for="specify" class="fw-bold">Please specify:</label>
              <textarea id="specify" formControlName="specifyOther" [value]="specifyOther" class="form-control w-50"
                        rows="4"></textarea>
              <div *ngIf="specifyOther?.invalid && (specifyOther?.dirty || specifyOther?.touched)"
                   class="alert alert-danger mt-1 w-50">
                <div *ngIf="specifyOther?.errors?.['required']">
                  Please specify the other term of use!
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center p-5">
    <button class="btn btn-link me-3" routerLink="/car-owner"> Cancel</button>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>

</form>





