.nav-tabs .nav-link {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .nav-link.active {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff #007bff #fff;
}

.tab-content > .tab-pane {
  padding: 15px;
  border: 1px solid #dee2e6;
  border-top: none;
}
