<div class="container-fluid bg-secondary text-white" id="top">
  <div class="row">
    <div class="col-12 col-md-6 p-5">
      <h2>Looking for a vehicle?</h2>
      <h2>You're at the right place.</h2>
      <p>We have a large selection of locally owned cars available for you to choose from. Rental plans are customized to suit your needs.</p>
      <p>With over 300 cars located nationwide, we will have something for you.</p>
    </div>
    <div class="col-12 col-md-6">
      <form class="form-control p-5" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <h3>Find the ideal car rental for your trip</h3>
        <div class="mb-3">
          <label for="pickup-location" class="form-label mt-3">PICK-UP LOCATION</label>
          <input type="text" id="pickup-location" class="form-control" formControlName="pickUpLocation" placeholder="Enter your location">
          <div *ngIf="pickUpLocation?.invalid && (pickUpLocation?.dirty || pickUpLocation?.touched)" class="alert alert-danger mt-1 d-block w-100">
            <div *ngIf="pickUpLocation?.errors?.['required'] || pickUpLocation?.errors?.['notOnlyWhitespace']">
              Please enter location
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label mt-2">PICK-UP DATE AND TIME</label>
          <div class="d-flex flex-row align-items-center">
            <input type="date" formControlName="pickUpDate" class="form-control me-2">
            <i class="bi bi-calendar-heart text-dark fs-3 me-2"></i>
            <input type="time" formControlName="pickUpTime" class="form-control">
          </div>
          <div *ngIf="(pickUpDate?.invalid || pickUpTime?.invalid) && (pickUpDate?.dirty || pickUpDate?.touched || pickUpTime?.dirty || pickUpTime?.touched)" class="alert alert-danger mt-1 d-block w-100 ms-1">
            <div *ngIf="pickUpDate?.errors?.['required'] || pickUpTime?.errors?.['required']">
              Please enter pick-up date and time
            </div>
          </div>
          <div *ngIf="searchForm.errors?.['pickUpDateTimePast']" class="alert alert-danger mt-1 d-block w-100">
            Pick-up date and time cannot be before current time.
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label mt-2">DROP-OFF DATE AND TIME</label>
          <div class="d-flex flex-row align-items-center">
            <input type="date" formControlName="dropOffDate" class="form-control me-2">
            <i class="bi bi-calendar-heart text-dark fs-3 me-2"></i>
            <input type="time" formControlName="dropOffTime" class="form-control">
          </div>
          <div *ngIf="(dropOffDate?.invalid || dropOffTime?.invalid) && (dropOffDate?.dirty || dropOffDate?.touched || dropOffTime?.dirty || dropOffTime?.touched)" class="alert alert-danger mt-1 d-block w-100 ms-1">
            <div *ngIf="dropOffDate?.errors?.['required'] || dropOffTime?.errors?.['required']">
              Please enter drop-off date and time
            </div>
          </div>
          <div *ngIf="searchForm.errors?.['dropOffBeforePickUp']" class="alert alert-danger mt-1 d-block w-100">
            Drop-off date and time cannot be before pick-up date and time.
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <button class="btn btn-primary mt-4" type="submit">Search</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div id="whyUsSection">
  <app-why-us></app-why-us>
</div>
<app-people-comment></app-people-comment>
<app-car-location></app-car-location>
