span {
  font-weight: bold;
}

.container-size {
  width: 100%; /* Adjusts to the width of its container */
  max-width: 650px; /* Maximum width */
  height: auto; /* Maintains aspect ratio */
  position: relative; /* Required for absolute positioning of carousel items */
}

.carousel-item {
  width: 100%;
  padding-top: 65%; /* Aspect ratio 16:9, can be adjusted */
  position: relative; /* Required for absolute positioning of images */
}

.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures image covers the entire container */
}

