<div class = "container-fluid">
  <div class = "row bg-secondary mt-5">
    <div class = "col">
      <ul class = "text-white">
        <li class = "mb-3">Booking details</li>
        <ul>
          <li class = "mb-3">Pick up location : {{address }}</li>
          <li class = "mb-3">Pick up date and time: {{fromDate}}</li>
          <li class = "mb-3">Return date and time: {{toDate}}</li>
        </ul>
      </ul>
    </div>
    <div class = "col">
      <div class = "position-relative">
        <div class = "position-absolute top-0 end-0">
          <button type = "button" class = "text-white border border-secondary btn btn-outline-primary">
            <i class="bi bi-pencil-square"></i> Change details
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class = "row bg-secondary mt-5">
    <div class="container-fluid bg-light d-flex flex-fill justify-content-around">
      <div class="arrow-steps clearfix d-flex justify-content-center p-1">
        <div class="step" *ngFor="let step of steps; let i = index"
             [ngClass]="{'current': currentStep === i, 'done': currentStep > i}">
          <span>{{ step }}</span>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
