<div class="container my-5">
  <h3 class="mb-4">Why us?</h3>
  <div class="row text-center mb-4">
    <div class="col-3">
      <div class="feature-icon">
        <i class="bi bi-cash-coin"></i>
      </div>
    </div>
    <div class="col-3">
      <div class="feature-icon">
        <i class="bi bi-person-standing"></i>
      </div>
    </div>
    <div class="col-3">
      <div class="feature-icon">
        <i class="bi bi-hammer"></i>
      </div>
    </div>
    <div class="col-3">
      <div class="feature-icon">
        <i class="bi bi-headset"></i>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-3">
      <div class="feature-box">
        <h5>Save money</h5>
        <p class="mt-5">We have no setup or registration fees. You are only charged when you rent a car. So get started for FREE!</p>
      </div>
    </div>
    <div class="col-3">
      <div class="feature-box">
        <h5>Convenient</h5>
        <p class="mt-5">We have a large selection of privately owned cars to suit your needs throughout the country.</p>
      </div>
    </div>
    <div class="col-3">
      <div class="feature-box">
        <h5>Legal and insurance</h5>
        <p class="mt-4">We fully cover all rentals and even provide roadside assistance. Our rating system and extended member profile checks provide safety.</p>
      </div>
    </div>
    <div class="col-3">
      <div class="feature-box">
        <h5>24/7 support</h5>
        <p class="mt-5">Our team is ready to support you all along the way with our 24/7 hotline and services.</p>
      </div>
    </div>
  </div>
</div>
