<div class = "container d-flex flex-column w-50 vh-100 justify-content-center" style = "margin-top: -100px">
  <div class = "d-flex flex-column align-items-center">
    <div class = "my-2 fw-bold" style = "font-size: 1.5rem">Reset password</div>
    <div class = "text-center my-2 ">Please set your new password</div>
    <form [formGroup] = "passwordForm" (ngSubmit) = "onSubmit()" class = "d-flex flex-column align-items-center">
      <div class = "row w-100 my-2 d-flex justify-content-center">
        <div *ngIf = "resetError" class = "alert alert-danger mt-1">
          {{ resetError }}
        </div>
        <div class = "col  d-flex flex-column align-items-center">
          <input formControlName = "password"
                 type = "password"
                 class = "form-control w-100"
                 placeholder = "Pick a password"
                 aria-label = "password">
          <div *ngIf = "password?.invalid && (password?.dirty || password?.touched)" class = "alert alert-danger mt-1">
            <div *ngIf = "password?.errors?.['required']">
              Password is required
            </div>
            <div *ngIf = "password?.errors?.['notOnlyWhitespace']">
              Password must not contain any blank space
            </div>
            <div *ngIf = "password?.errors?.['pattern']">
              Password must be at least 7 characters long and contain at least 1 letter and 1 number
            </div>
          </div>
        </div>
      </div>
      <div class = "text-center my-2 text-secondary fst-italic">Use at least one letter, one number and seven
                                                                characters
      </div>
      <div class = "row w-100 my-2 d-flex justify-content-center">
        <div class = "col  d-flex flex-column align-items-center">
          <input formControlName = "repassword"
                 type = "password"
                 class = "form-control w-100"
                 placeholder = "Pick a password"
                 aria-label = "repassword">
          <div *ngIf = "repassword?.invalid && (repassword?.dirty || repassword?.touched)"
               class = "alert alert-danger mt-1">
            <div *ngIf = "repassword?.errors?.['required'] || repassword?.errors?.['notOnlyWhitespace']">
              Confirm password is required
            </div>
            <div *ngIf = "repassword?.value !== password?.value">
              Confirm password must be the same as password
            </div>
          </div>

        </div>
      </div>
      <button type = "submit"
              class = "btn btn-primary mt-3 w-25  position-relative border border-2 border-dark text-white"
              style = "min-width: 150px" [disabled] = "isLoading">
        <span *ngIf = "isLoading" class = "spinner-border spinner-border-sm me-2" aria-hidden = "true"></span>
        <span *ngIf = "isLoading">Loading...</span>
        <span *ngIf = "!isLoading">
        <i class = "bi bi-unlock-fill me-2"></i>RESET
        </span>
        <span class = " position-absolute top-50  end-0 badge" style = "margin-right: -13px;margin-top: -3px">
         <i class = "bi bi-arrow-right-short text-dark fw-bolder arrow-shadow" style = "font-size: 1.2rem"></i>
        </span>
      </button>
      <div #resetPasswordModal class = "modal fade"
           id = "exampleModal"
           tabindex = "-1"
           aria-labelledby = "exampleModalLabel"
           aria-hidden = "true">
        <div class = "modal-dialog modal-dialog-centered modal-sm">
          <div class = "modal-content ">
            <div class = "modal-body text-center ">
              Success!
              We will redirect you to homepage soon
            </div>
            <div class = "modal-footer">
              <button type = "button" class = "btn btn-outline-light text-dark  w-100" data-bs-dismiss = "modal">OK
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

</div>



