<div class = "container d-flex flex-column w-50 vh-100 justify-content-center" style = "margin-top: -100px">
  <div class = "d-flex flex-column align-items-center">
    <div class = "my-2 fw-bold" style = "font-size: 1.5rem">Reset password</div>
    <div class = "text-center my-2">Enter the email associated with your account and we will email
                                    you with the link to reset your password
    </div>
    <form class="w-100 d-flex flex-column align-items-center" [formGroup]="emailForm" (ngSubmit)="onSubmit()">
      <div *ngIf="emailError" class="alert alert-danger mt-1 w-75">
        {{ emailError }}
      </div>
    <div class = "row w-100 my-4 d-flex flex-column align-items-center">
      <div class = "col d-flex justify-content-center">
        <input formControlName="email" type = "text" class = "form-control w-75" placeholder = "Your email address" aria-label = "Email">
      </div>
      <div *ngIf="email?.invalid && (email?.dirty || email?.touched) && !email?.pending" class="alert alert-danger mt-1 w-75">
        <div *ngIf="email?.errors?.['required']">
          Email is required
        </div>
        <div *ngIf="email?.errors?.['pattern']">
          Email must be a valid email format
        </div>
      </div>

    </div>


    <button type = "submit"
            class = "btn btn-primary mt-3 w-25  position-relative border border-2 border-dark text-white"
            style="min-width: 150px" [disabled]="isLoading">
      <span *ngIf="isLoading" class="spinner-border spinner-border-sm me-2" aria-hidden="true"></span>
      <span *ngIf="isLoading">Loading...</span>
      <span *ngIf="!isLoading">
      <i class = "bi bi-unlock-fill me-2"></i>SUBMIT
        </span>
      <span class = " position-absolute top-50  end-0 badge" style="margin-right: -13px;margin-top: -3px">
         <i class="bi bi-arrow-right-short text-dark fw-bolder arrow-shadow" style="font-size: 1.2rem"></i>
        </span>
    </button>
<!--      <div *ngIf="showModal">-->
      <div #resetPasswordModal class = "modal fade "
           id = "modal1"
           tabindex = "-1"
           aria-labelledby = "exampleModalLabel"
           aria-hidden = "true">
        <div class = "modal-dialog modal-dialog-centered modal-sm">
          <div class = "modal-content ">
            <div class = "modal-body text-center ">
              If this email address exists, we will send an email with the link to reset your password
            </div>
            <div class = "modal-footer">
              <button type = "button" class = "btn btn-outline-light text-dark  w-100" data-bs-dismiss = "modal">OK</button>
            </div>
          </div>
        </div>
      </div>
<!--      </div>-->
    </form>

  </div>


</div>



